TP2GCPBackend\BusinessEntities\obj
TP2GCPBackend\BusinessEntities\bin
TP2GCPBackend\BusinessRules\bin
TP2GCPBackend\BusinessRules\obj
TP2GCPBackend\DataAccess\bin
TP2GCPBackend\DataAccess\obj
BusinessEntities/bin/Debug/BusinessEntities.dll
BusinessEntities/bin/Debug/BusinessEntities.pdb
BusinessEntities/obj/Debug/BusinessEntities.dll
BusinessEntities/obj/Debug/BusinessEntities.pdb
BusinessRules/bin/Debug/BusinessEntities.dll
BusinessRules/bin/Debug/BusinessEntities.pdb
BusinessRules/bin/Debug/BusinessRules.dll
BusinessRules/bin/Debug/BusinessRules.pdb
BusinessRules/bin/Debug/DataAccess.dll
BusinessRules/bin/Debug/DataAccess.pdb
BusinessRules/obj/Debug/BusinessRules.csprojResolveAssemblyReference.cache
BusinessRules/obj/Debug/BusinessRules.dll
BusinessRules/obj/Debug/BusinessRules.pdb
DataAccess/bin/Debug/BusinessEntities.dll
DataAccess/bin/Debug/BusinessEntities.pdb
DataAccess/bin/Debug/DataAccess.dll
DataAccess/bin/Debug/DataAccess.pdb
DataAccess/obj/Debug/DataAccess.csprojResolveAssemblyReference.cache
DataAccess/obj/Debug/DataAccess.dll
DataAccess/obj/Debug/DataAccess.pdb
GCP_INDRA/bin/BusinessEntities.dll
GCP_INDRA/bin/BusinessEntities.pdb
GCP_INDRA/bin/BusinessRules.dll
GCP_INDRA/bin/BusinessRules.pdb
GCP_INDRA/bin/DataAccess.dll
GCP_INDRA/bin/DataAccess.pdb
GCP_INDRA/bin/GCP_INDRA.dll
GCP_INDRA/bin/GCP_INDRA.pdb
GCP_INDRA/obj/Debug/GCP_INDRA.csprojResolveAssemblyReference.cache
GCP_INDRA/obj/Debug/GCP_INDRA.dll
GCP_INDRA/obj/Debug/GCP_INDRA.pdb
*.dll
BusinessEntities/bin/Debug/BusinessEntities.dll
BusinessEntities/bin/Debug/BusinessEntities.dll
BusinessEntities/bin/Debug/BusinessEntities.pdb
BusinessEntities/obj/Debug/BusinessEntities.dll
BusinessEntities/obj/Debug/BusinessEntities.pdb
BusinessRules/bin/Debug/BusinessEntities.dll
BusinessRules/bin/Debug/BusinessEntities.pdb
BusinessRules/bin/Debug/BusinessRules.dll
BusinessRules/bin/Debug/BusinessRules.pdb
BusinessRules/bin/Debug/DataAccess.dll
BusinessRules/bin/Debug/DataAccess.pdb
BusinessRules/obj/Debug/BusinessRules.csprojResolveAssemblyReference.cache
BusinessRules/obj/Debug/BusinessRules.dll
BusinessRules/obj/Debug/BusinessRules.pdb
DataAccess/bin/Debug/BusinessEntities.dll
DataAccess/bin/Debug/BusinessEntities.pdb
DataAccess/bin/Debug/DataAccess.dll
DataAccess/bin/Debug/DataAccess.pdb
DataAccess/obj/Debug/DataAccess.csprojResolveAssemblyReference.cache
DataAccess/obj/Debug/DataAccess.dll
DataAccess/obj/Debug/DataAccess.pdb
GCP_INDRA/bin/BusinessEntities.dll
GCP_INDRA/bin/BusinessEntities.pdb
GCP_INDRA/bin/BusinessRules.dll
GCP_INDRA/bin/BusinessRules.pdb
GCP_INDRA/bin/DataAccess.dll
GCP_INDRA/bin/DataAccess.pdb
GCP_INDRA/bin/GCP_INDRA.dll
GCP_INDRA/bin/GCP_INDRA.pdb
GCP_INDRA/obj/Debug/GCP_INDRA.csprojResolveAssemblyReference.cache
GCP_INDRA/obj/Debug/GCP_INDRA.dll
GCP_INDRA/obj/Debug/GCP_INDRA.pdb
BusinessEntities/bin/Debug/BusinessEntities.dll
BusinessEntities/bin/Debug/BusinessEntities.pdb
BusinessEntities/obj/Debug/BusinessEntities.dll
BusinessEntities/obj/Debug/BusinessEntities.pdb
BusinessRules/bin/Debug/BusinessEntities.dll
BusinessRules/bin/Debug/BusinessEntities.pdb
BusinessRules/bin/Debug/BusinessRules.dll
BusinessRules/bin/Debug/BusinessRules.pdb
BusinessRules/bin/Debug/DataAccess.dll
BusinessRules/bin/Debug/DataAccess.pdb
BusinessRules/obj/Debug/BusinessRules.csprojResolveAssemblyReference.cache
BusinessRules/obj/Debug/BusinessRules.dll
BusinessRules/obj/Debug/BusinessRules.pdb
DataAccess/bin/Debug/BusinessEntities.dll
DataAccess/bin/Debug/BusinessEntities.pdb
DataAccess/bin/Debug/DataAccess.dll
DataAccess/bin/Debug/DataAccess.pdb
DataAccess/obj/Debug/DataAccess.csprojResolveAssemblyReference.cache
DataAccess/obj/Debug/DataAccess.dll
DataAccess/obj/Debug/DataAccess.pdb
GCP_INDRA/bin/BusinessEntities.dll
GCP_INDRA/bin/BusinessEntities.pdb
GCP_INDRA/bin/BusinessRules.dll
GCP_INDRA/bin/BusinessRules.pdb
GCP_INDRA/bin/DataAccess.dll
GCP_INDRA/bin/DataAccess.pdb
GCP_INDRA/bin/GCP_INDRA.dll
GCP_INDRA/bin/GCP_INDRA.pdb
GCP_INDRA/obj/Debug/GCP_INDRA.csprojResolveAssemblyReference.cache
GCP_INDRA/obj/Debug/GCP_INDRA.dll
GCP_INDRA/obj/Debug/GCP_INDRA.pdb
